In [2]:
import pandas

df = pandas.read_csv('data/BTC-USD.csv')

In [3]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
3435,2024-02-12,48296.386719,50280.476563,47745.761719,49958.222656,49958.222656,34511985805
3436,2024-02-13,49941.359375,50358.390625,48406.496094,49742.441406,49742.441406,35593051468
3437,2024-02-14,49733.445313,52021.371094,49296.832031,51826.695313,51826.695313,39105608050
3438,2024-02-15,51836.785156,52820.066406,51371.628906,51938.554688,51938.554688,38564360533
3439,2024-02-16,51937.726563,52365.917969,51767.210938,51841.062500,51841.062500,35194347520

In [5]:
df['Date'] = pandas.to_datetime(df['Date'],format = "%Y-%m-%d")
df.set_index('Date')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
3435,2024-02-12,48296.386719,50280.476563,47745.761719,49958.222656,49958.222656,34511985805
3436,2024-02-13,49941.359375,50358.390625,48406.496094,49742.441406,49742.441406,35593051468
3437,2024-02-14,49733.445313,52021.371094,49296.832031,51826.695313,51826.695313,39105608050
3438,2024-02-15,51836.785156,52820.066406,51371.628906,51938.554688,51938.554688,38564360533
3439,2024-02-16,51937.726563,52365.917969,51767.210938,51841.062500,51841.062500,35194347520

In [14]:
df1 = pandas.read_csv("Data/BTC-USD.csv", index_col = "Date", parse_dates = True)
df1.index

DatetimeIndex(['2014-09-17', '2014-09-18', '2014-09-19', '2014-09-20',
               '2014-09-21', '2014-09-22', '2014-09-23', '2014-09-24',
               '2014-09-25', '2014-09-26',
               ...
               '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-10',
               '2024-02-11', '2024-02-12', '2024-02-13', '2024-02-14',
               '2024-02-15', '2024-02-16'],
              dtype='datetime64[ns]', name='Date', length=3440, freq=None)

In [24]:
df['7_day_rolling'] = df['Close'].rolling(window = 7).mean()
df[['Close', '7_day_rolling']].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.